@import '../../scss/style.scss';

.navbar {
    @include themify($themes) {
        position: sticky;
        top: 0;
        background-color: themed("bg");
        border-bottom: 1px solid themed("border");
        height: 60px;
        z-index: 999;
        .container-nav {
            padding: 0 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;
            height: 100%;
            .left {
                display: flex; 
                .logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        height: 50px;
                    }
                    >div {
                        span {
                            color: themed("textColor");
                            display: inline-block;
                            transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
                        }
                        overflow: hidden;
                        position: relative;
                        display: inline-block;
                        font-size: 21px;
                        font-weight: 900;
                        text-transform: uppercase;
                        color: var(--font-b-color);
                        &::after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            left: 0;
                        }
                        &::after {
                            content: attr(data-logo);
                            color: themed("primary");
                            height: 100%;
                            top: 0;
                            transform-origin: 100% 50%;
                            transform: translate3d(200%, 0, 0);
                            transition: transform .3s ease-in-out;
                        }

                    }
                    &:hover div::after {
                        transform: translate3d(0, 0, 0);
                    }
                    &:hover div span {
                        transform: translate3d(-200%, 0, 0);
                    }
                }
                .btn_menu {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    margin-left: 25px;
                    svg {
                        margin: 0 5px;
                        font-size: 25px;
                        color: themed('textColorSoft');
                    }
                    button {
                        svg {
                            font-size: 24px;
                            color: themed('dark-mode');
                            cursor: pointer;
                        }
                    }
                }
            }
            .center {
                flex-grow : 2;
                display: flex;
                justify-content: center;
                min-width: 100px;
                max-width: 400px;
            }
            .right  {
                .UserNav {
                    position: relative;
                    .avatar {
                        overflow: hidden;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        border:  2px solid themed('border');
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .user_menu {
                        position: absolute;
                        top: 100%;
                        right: 0;
                        width: 200px;
                        background-color: themed("bgSoft");
                        border: 2px solid themed("border");
                        z-index: 1000;
                        border-radius: 15px;
                        color: themed("textColor");
                        overflow: hidden;
                        h2 {
                            text-align: center;
                            padding: 2px;
                            margin: 10px 0;
                            font-size: 17px;
                            font-weight: 700;
                        }
                        .btnLink {
                            cursor: pointer;
                            padding: 10px 20px;
                            display: flex;
                            align-items: center;
                            width: 100%;
                            gap: 12px;
                            svg {
                                font-size: 17px;
                                color: themed('textColor');
                            }
                            &:hover {
                                background-color: themed("primary");
                                color: themed("text");
                                svg {
                                    color: themed('text');
                                }
                            }
                        }
                        .active {
                            background-color: themed("primary");
                            font-weight: 500;
                            color: themed('text');
                            svg {
                                color: themed('text');
                            }
                        }
                    }
                }
            }
            .btn-connect {
                display: flex;
                gap: 10px;
                color: themed('textColor');
                a {
                    padding: 5px 19px;
                    border-radius: 9px;
                }
                .register {
                    background-color: themed('primary');
                    color: themed('text');
                    &:hover {
                        background-color: themed('secondary');
                        color: themed('textColor');
                    }
                }
                .login {
                    border: 2px solid themed('textColor');
                }
            }
        }
    }
}


