@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './style.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


input {
    outline: none;
}

li {
    list-style-type: none;
}
