@import "../../scss/style.scss";

.home {
    @include themify($themes) {
        display: flex;
        gap: 25px;
        padding: 15px 0 ;
        &>div {
            border-radius: 25px;
        }
        .left {
            background-color: themed("bgSoft");
            flex: 2 1;
            position: sticky;
            top: calc(60px + 15px);
            height: calc(100vh - 60px - 30px);
            padding: 20px 15px;
            display: flex;
            flex-direction: column;
            >div {
                background-color: themed("bgSoftTwo");
                padding: 12px;
                border-radius: 25px;
            }
            .profile {
                display: flex;
                align-items: center;
                // margin: 5px 9px;
                gap: 15px;
                h2 {
                    font-size: 19px;
                    color: themed("textColor");
                    font-weight: 500;
                }
                a {
                    color: themed('textColorSoft');
                    font-size: 13px;
                }
                img {
                    overflow: hidden;
                    border-radius: 50%;
                    object-fit: cover;
                    width: 55px;
                    height: 55px;
                    border: 2px solid themed('border');
                }
            }
            hr {
                border: 1px solid themed('border');
                margin: 15px 0;
            }
            .link {
                display: flex;
                flex-direction: column;
                gap: 15px;
                li {
                    // background-color: themed('secondary');
                    a {
                        color: themed('textColor');
                        font-size: 15px;
                        font-weight: 600;
                        display: flex;
                        gap: 15px;
                        border-radius: 15px;
                        padding: 15px;
                        transition: all .3s ease-in-out;
                    }
                    svg {
                        font-size: 25px;
                    }
                    .active {
                        background-color: themed("secondary");
                        color: themed("text");
                        svg {
                            color: themed('text');
                        }
                    }
                }
            }
            .following {
                height: 100%;
                overflow-y: auto;
                >ul {
                    h2 {
                        font-size: 15px;
                        color: themed("textColor");
                        font-weight: 500;
                    }
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    padding: 9px 10px;
                    li {
                        background-color: themed('bgSoft');
                        padding: 5px;
                        display: flex;
                        gap: 15px;
                        align-items: center;
                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                        h2 {
                            font-size: 15px;
                            font-weight: 400;
                            color: themed('textColor');
                            margin-top: -5px;
                        }
                        border-radius: 15px;
                        // a {
                        //     color: themed('textColor');
                        //     font-size: 15px;
                        //     font-weight: 600;
                        //     display: flex;
                        //     gap: 15px;
                        //     border-radius: 15px;
                        //     padding: 15px;
                        //     transition: all.3s ease-in-out;
                        // }
                    }
                }
            }
        }
        .center {
            flex: 6;
            display: flex;
            flex-direction: column;
            gap: 15px;
            hr {
                border: 1px solid themed('border');
                margin: 15px 0;
            }
            .loading {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                svg {
                    font-size: 50px;
                    animation: spin 1s linear infinite;
                    color: themed('textColor');
                }
            }
            h1 {
                color: themed("textColor");
                font-weight: 700;
                font-size: 30px;
                margin-left: 15px;
                margin-bottom: 9px;
            }
            .topFeed {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 9px 0;
                .btnFeed {
                    display: flex;
                    gap: 15px;
                    color: themed('textColor');
                    button {
                        background-color: themed('bgSoftTwo');
                        padding: 8.5px 14px;
                        border-radius: 15px;
                        transition: background-color .5s ease-out;
                    }
                    .active {
                        background-color: themed("primary");
                        color: themed('text');
                        svg {
                            color: themed('text');
                        }
                    }

                }
            }
            // #parentScrolldiv {
            //     height: calc(100vh - 60px - 15px);
            //     overflow: auto;
            // }
            .feed {
                padding: 15px;
                background-color: themed('bgSoft');
                color: themed('textColor');
                border-radius: 25px;
                padding: 25px 30px;
                margin-bottom: 15px;
                .top {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .user {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            object-fit: cover;
                            border: 2px solid themed('border');
                        }
                        >div>div {
                            display: flex;
                            gap: 15px;
                            h2 {
                                font-size: 17px;
                                font-weight: 700;
                                margin-bottom: -5px;
                            }
                            button {
                                color: themed('primary');
                                font-weight: 500;
                            }
                        }
                        span {
                            display: block;
                            font-size: 12px;
                            font-weight: 500;
                            color: themed('textColorSoft');
                        }
                    }
                    .menu {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        &>div {
                            background-color: themed('bgSoftTwo');
                            padding: 8px 10px;
                            border-radius: 12px;
                        }
                        .btn_remove_edit {
                            display: flex;
                            gap: 10px;
                        }
                        svg {
                            font-size: 18px;
                            cursor: pointer;
                        }
                        .save-Active {
                            color: themed("primary");
                        }
                        .remove {
                            color: #B31312;
                        }
                        .edit {
                            color: #FFA732;
                        }
                    }
                }
                .center {
                    margin: 15px 0;
                    padding: 5px 0;
                    .description {
                        word-break: break-all;
                        span {
                            color: themed("primary");
                            cursor: pointer;
                        }
                    }
                    .tags {
                        display: flex;
                        gap: 15px;
                        span {
                            background-color: themed('bgSoftTwo');
                            cursor: pointer;
                            color: themed('primary');
                            padding: 4px 9px;
                            border-radius: 15px;
                            -webkit-border-radius: 15px;
                            -moz-border-radius: 15px;
                            -ms-border-radius: 15px;
                            -o-border-radius: 15px;
}
                    }
                    img {
                        border-radius: 19px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .btn_react {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .like {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        .active {
                            color: themed("primary");
                        }
                    }
                }
            }
            .create {
                background-color: themed("bgSoft");
                color: themed("textColor");
                padding: 25px;
                margin-bottom: 15px ;
                border-radius: 25px;
                hr {
                    margin: 15px 0;
                    border: 1px solid themed("border");
                }
                .top {
                    display: flex;
                    align-items: start;
                    gap: 20px;
                    margin-bottom: 15px;
                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                        border: 2px solid themed("border");
                    }
                }
                .img_preview {
                    border-radius: 25px;
                    margin: 15px auto;
                    object-fit: cover;
                    width: 100%;
                    height: 250px;
                }
                textarea {
                    border: none;
                    outline: none;
                    background-color: transparent;
                    color: themed("textColor");
                    width: 100%;
                    height: 70px;
                }
                .bottom {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    >div {
                        display: flex;
                        gap: 15px;
                    }
                    gap: 15px;
                    .file-input {
                        display: none;
                    }
                    .custom-button {
                        background-color: themed("secondary");
                        color: themed("textColor");
                        padding: 12px ;
                        border-radius: 26px;
                        cursor: pointer;
                    }
                    input {
                        border: none;
                        outline: none;
                        background-color: themed("bgSoftTwo");
                        color: themed("textColor");
                        width: 100%;
                        padding: 8px 25px;
                        border-radius: 25px;
                        -webkit-border-radius: 25px;
                        -moz-border-radius: 25px;
                        -ms-border-radius: 25px;
                        -o-border-radius: 25px;
                    }
                    .share_btn {
                        display: flex;
                        align-items: center;
                        gap: 9px;
                        background-color: themed("secondary");
                        color: themed("textColor");
                        border-radius: 26px;
                        cursor: pointer;
                        padding: 8px 16px;
                        transition: background-color 0.3s ease;
                        &:hover {
                            background-color: #0056b3;
                        }
                        &:disabled {
                            opacity: 0.7;
                            cursor: not-allowed;
                        }
                        .loading {
                            animation: spin 1s linear infinite;
                        }

                    }
                }
            }
        }
        .right {
            background-color: themed("bgSoft");
            flex: 2 1;
            position: sticky;
            top: calc(60px + 15px);
            height: calc(100vh - 60px - 30px);
            padding: 20px 15px;
            display: flex;
            flex-direction: column;
            >div {
                background-color: themed("bgSoftTwo");
                padding: 12px;
                border-radius: 25px;
            }
            .list-people {
                height: calc(100% / 2);
                overflow-y: auto;
                .list-group {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    li {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        background-color: themed('bgSoft');
                        padding: 15px 5px;
                        width: calc((100% - 10px) / 2);
                        border-radius: 15px;
                        -webkit-border-radius: 15px;
                        -moz-border-radius: 15px;
                        -ms-border-radius: 15px;
                        -o-border-radius: 15px;
                        h2 {
                            font-size: 13px;
                            margin: 9px 0;
                            color: themed("textColor");
                        }
                        button {
                            color: themed("primary");
                            font-size: 13px;
                            font-weight: 500;
                        }
                        img{
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                            object-fit: cover;
                            border: 2px solid themed("border");
                        }
                    }
                }
            }
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    }
}